body{ background-color: #161616;
      text-align: center;}
      
/*Title of countdown*/      
.head{ text-transform: capitalize;
       color: #fff;
       margin: 40px 0 20px;}

#container{ font-family: sans-serif;
            color:#161616;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;}
            
        
#container > div{padding: 10px;
                 border-radius: 4px;
                 background:#7F7E7E; 
                 display: inline-block;}
                
#container div > span{ padding: 20px;
                       border-radius: 3px;
                       display: inline-block;
                       background-color: #7349A3}
                       
/* div contain text of content countdown*/                       
.text{ font-size: 14px;
       padding-top: 5px;}


    